In [7]:
!ls

import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

db.xlsx        notebook.ipynb

resources: <br/>
https://www.dataquest.io/blog/excel-and-pandas/

# test1 -  read excel

In [15]:


file = "db.xlsx"
sheetno = 0 
# df = pd.read_excel(file, sheetname='db1')
while(1)
    try
        df = pd.read_excel(file, sheetname=sheetno)#, index_col=0)
        sheetno = sheetno + 1
    except:
        break

print("Column headings:"); print(df.columns)

SyntaxError: invalid syntax (<ipython-input-15-eb7771739186>, line 6)

In [20]:
xl = pd.ExcelFile(file)
xl.sheet_names  # see all sheet names
sheet_name = 1
df1 = xl.parse(sheet_name)  # read a specific sheet to DataFrame

In [21]:
df1.head()

     columnA  columnB columnC
0       rose      100     red
1  dandylion      200   white
2      daisy      300  yellow

## test2 - loop excel

# test3 - build HTML/XML

In [ ]:
# convert df1 to json -- read json in VUE app ...